################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/BodyBasics-D2D/Debug
/BodyBasics-D2D/BodyBasics-D2D.VC.VC.opendb
/BodyBasics-D2D/BodyBasics-D2D.VC.db
/BodyBasics-D2D/23_10_47.csv
/BodyBasics-D2D/14_27_57_0508.csv
