################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/BodyBasics-D2D/Debug
/BodyBasics-D2D/BodyBasics-D2D.VC.VC.opendb
/BodyBasics-D2D/BodyBasics-D2D.VC.db
/BodyBasics-D2D/23_10_47.csv
/BodyBasics-D2D/14_27_57_0508.csv
/BodyBasics-D2D/.vs/BodyBasics-D2D/v14/.suo
/BodyBasics-D2D/.vs/BodyBasics-D2D/v14
/BodyBasics-D2D/11_37_35.csv
/BodyBasics-D2D/04_34_20_0495.csv
/BodyBasics-D2D/04_33_18_0524.csv
/BodyBasics-D2D/04_30_35_0382.csv
/BodyBasics-D2D/04_28_01_0335.csv
/BodyBasics-D2D/04_25_24_0434.csv
/BodyBasics-D2D/04_10_17_0134.csv
/BodyBasics-D2D/04_10_16_0637.csv
/BodyBasics-D2D/04_10_14_0548.csv
/BodyBasics-D2D/04_10_13_0539.csv
/BodyBasics-D2D/04_10_09_0193.csv
/BodyBasics-D2D/04_08_30_0979.csv
/BodyBasics-D2D/04_08_29_0482.csv
/BodyBasics-D2D/04_08_28_0864.csv
/BodyBasics-D2D/04_08_28_0268.csv
/BodyBasics-D2D/04_08_27_0964.csv
/BodyBasics-D2D/04_08_27_0692.csv
/BodyBasics-D2D/04_08_27_0396.csv
/BodyBasics-D2D/04_08_27_0103.csv
/BodyBasics-D2D/04_08_26_0796.csv
